@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";



:root {
  /* Torres Bay - Blues */
  --torres-bay-50: #efefef;
  --torres-bay-100: #e2ead0;
  --torres-bay-200: #cad7fb;
  --torres-bay-300: #a0b0f6;
  --torres-bay-400: #8090f0;
  --torres-bay-500: #6c77e8;
  --torres-bay-600: #5050db;
  --torres-bay-700: #434bc1;
  --torres-bay-800: #363b98;
  --torres-bay-900: #33347c;
  --torres-bay-950: #131348;

  /* Grenadier - Oranges */
  --grenadier-50: #fef5ee;
  --grenadier-100: #fde8d7;
  --grenadier-200: #facee6;
  --grenadier-300: #f7a97a;
  --grenadier-400: #f37b44;
  --grenadier-500: #f0581f;
  --grenadier-600: #da3e15;
  --grenadier-700: #ba2d14;
  --grenadier-800: #ba2d14;
  --grenadier-900: #94261b;
  --grenadier-950: #78211b;

  /* Base - Black/White */
  --base-black: #000000;
  --base-white: #ffffff;

  /* Zinc - Grays */
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
}

@layer base {
    :root {
      /* Tamaños de texto según Figma */
      --text-xs: 0.75rem;      /* 12px */
      --text-sm: 0.875rem;     /* 14px */
      --text-base: 1rem;       /* 16px */
      --text-lg: 1.125rem;     /* 18px */
      --text-xl: 1.25rem;      /* 20px */
      --text-2xl: 1.5rem;      /* 24px */
      --text-3xl: 1.875rem;    /* 30px */
      --text-4xl: 2.25rem;     /* 36px */
    }
}